*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(81, 162, 200);
    font-size: 1.2rem;
}

header{
display: flex;
text-align: center;
justify-content: center;
background-color: rgb(201, 201, 201);
}

h1 {
    margin: 10px;
}

ol{
    margin: 50px;
}

li{
    padding-top: 30px;
}

button{
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}

select{
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
}

button:hover{
    background-color: rgb(201, 201, 203);
    cursor:grab;
}

input{
    border: 3px solid black;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    text-align: center;
    line-height: 200px;
    margin-bottom: 20px;
    cursor: pointer;
}

a {
    background-color: rgb(52, 49, 49);
    text-decoration: none;
    color: white;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}
nav a:hover {
    color: black;
}
nav{
    background-color: rgb(52, 49, 49);
    padding: 15px;
    text-align: center;
}

nav a:hover {
    background-color: rgb(81, 162, 200);
    border-radius: 10px;
}
