* {
    margin:0;  
    padding:0;  
    box-sizing: border-box; /* medidas sao tomadas da borda */
    font-family: Arial, sans-serif;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-weight: bold;
    unicode-bidi: isolate;
}

header, main, article {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    overflow-x: hidden;
}

header {
    background-color: rgb(39, 36, 36);
    color: white;
    position: sticky;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    padding-left: 1.5em;
    top:0;
    z-index: 5;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#poema p {
    display: block;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

#paisagens {
    position: relative;
    overflow: hidden;
    width: 100vw;  
    height: 100vh;
}

#paisagens img {
    height: 100vh;
    width: 100vw;
}

#paisagens p a {
    color: white;
    text-decoration: none;
}

#paisagens p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}

#cidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55vw;
    margin-top: 20px;
    justify-content: center;
    background-color: rgb(211, 127, 31);
}

#cidades section {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 70px;
    background-color: #f0e6e6;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 10px;
   
}

#cidades img {
    border-radius: 20px 0 0 20px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;  
}

#cidades section:hover {
    background-color: #e0d5d5;
}

#cidades div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #222222;
    font-size: 1.2em;
    text-align: center;
}


article {
    height: 50vh;
    width: 100vw;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;   
    background: rgb(225, 168, 77);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(211, 127, 31) ;
    width: 100vw;
}


#poema {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    font-weight: bolder;
}


nav a:last-child{
   background-color: rgb(211, 127, 31);
   color: black;
}

  nav a {
    color: rgb(211, 127, 31);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(154, 128, 91, 0.789);
    border-radius: 3px;
    color: rgb(237, 172, 80);
    padding: 5px;
}

footer{
    background-color: rgb(52, 49, 49) ;
    text-align: center;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    width: 100vw;
}

#experimenta {
    background-color: rgb(211, 127, 31);
    width: 100vw;
    height: 120px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: rgb(39, 36, 36);
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    margin: 10px;
}


.circle-container {
    display: none;
}


#experimenta:hover .circle-container {
    display: flex; 
    justify-content: space-around;
}
